
@mixin animate($animation,$duration,$method,$times){
    animation: $animation $duration $method $times;
}

@mixin keyframes($name){
    @keyframes #{$name}{
        @content;
    }
}
/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
body {
	font-family: "Open Sans", sans-serif;
	color: #272829;
}
a {
	color: #f1592a;
	text-decoration: none;
	&:hover {
		color: #37b3ed;
		text-decoration: none;
	}
}
h1 {
	font-family: "Raleway", sans-serif;
}
h2 {
	font-family: "Raleway", sans-serif;
}
h3 {
	font-family: "Raleway", sans-serif;
}
h4 {
	font-family: "Raleway", sans-serif;
}
h5 {
	font-family: "Raleway", sans-serif;
}
h6 {
	font-family: "Raleway", sans-serif;
}
.back-to-top {
	position: fixed;
	visibility: hidden;
	opacity: 0;
	right: 15px;
	bottom: 15px;
	z-index: 996;
	background: #f1592a;
	width: 40px;
	height: 40px;
	border-radius: 50px;
	transition: all 0.4s;
	i {
		font-size: 28px;
		color: #fff;
		line-height: 0;
	}
	&:hover {
		background: #2eafec;
		color: #fff;
	}
}
.back-to-top.active {
	visibility: visible;
	opacity: 1;
}
#header {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 300px;
	transition: all ease-in-out 0.5s;
	z-index: 9997;
	transition: all 0.5s;
	padding: 0 15px;
	background: #231f20;
	overflow-y: auto;
	.profile {
		img {
			margin: 15px auto;
			display: block;
			width: 220px;
			border: 8px solid #231f20;
		}
		h1 {
			font-size: 24px;
			margin: 0;
			padding: 0;
			font-weight: 600;
			-moz-text-align-last: center;
			text-align-last: center;
			font-family: "Poppins", sans-serif;
			a {
				color: #fff;
				text-decoration: none;
				&:hover {
					color: #fff;
					text-decoration: none;
				}
			}
		}
		.social-links {
			a {
				font-size: 18px;
				display: inline-block;
				background: #212431;
				color: #fff;
				line-height: 1;
				padding: 8px 0;
				margin-right: 4px;
				border-radius: 50%;
				text-align: center;
				width: 36px;
				height: 36px;
				transition: 0.3s;
				&:hover {
					background: #f1592a;
					color: #fff;
					text-decoration: none;
				}
			}
		}
	}
}
#main {
	margin-left: 300px;
}
.nav-menu {
	padding: 30px 0 0 0;
	* {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	>ul {
		>li {
			position: relative;
			white-space: nowrap;
		}
	}
	a {
		display: flex;
		align-items: center;
		color: #a8a9b4;
		padding: 12px 15px;
		margin-bottom: 8px;
		transition: 0.3s;
		font-size: 15px;
		&:focus {
			display: flex;
			align-items: center;
			color: #a8a9b4;
			padding: 12px 15px;
			margin-bottom: 8px;
			transition: 0.3s;
			font-size: 15px;
			i {
				font-size: 24px;
				padding-right: 8px;
				color: #6f7180;
			}
		}
		i {
			font-size: 24px;
			padding-right: 8px;
			color: #6f7180;
		}
		&:hover {
			text-decoration: none;
			color: #fff;
			i {
				color: #f1592a;
			}
		}
	}
	.active {
		text-decoration: none;
		color: #fff;
		&:focus {
			text-decoration: none;
			color: #fff;
			i {
				color: #f1592a;
			}
		}
		i {
			color: #f1592a;
		}
	}
	li {
		&:hover {
			>a {
				text-decoration: none;
				color: #fff;
				i {
					color: #f1592a;
				}
			}
		}
	}
}
.mobile-nav-toggle {
	position: fixed;
	right: 15px;
	top: 15px;
	z-index: 9998;
	border: 0;
	font-size: 24px;
	transition: all 0.4s;
	outline: none !important;
	background-color: #f1592a;
	color: #fff;
	width: 40px;
	height: 40px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	line-height: 0;
	border-radius: 50px;
	cursor: pointer;
}
.mobile-nav-active {
	overflow: hidden;
	#header {
		left: 0;
	}
}
#hero {
	width: 100%;
	height: 100vh;
	background: url("../img/hero-bg.jpg") top center;
	background-size: cover;
	&:before {
		content: "";
		background: rgba(5, 13, 24, 0.3);
		position: absolute;
		bottom: 0;
		top: 0;
		left: 0;
		right: 0;
		z-index: 1;
	}
	.hero-container {
		position: relative;
		z-index: 2;
		min-width: 300px;
	}
	h1 {
		margin: 0 0 10px 0;
		font-size: 64px;
		font-weight: 700;
		line-height: 56px;
		color: #fff;
	}
	p {
		color: #fff;
		margin-bottom: 50px;
		font-size: 26px;
		font-family: "Poppins", sans-serif;
		span {
			color: #fff;
			padding-bottom: 4px;
			letter-spacing: 1px;
			border-bottom: 3px solid #f1592a;
		}
	}
}
section {
	padding: 60px 0;
	overflow: hidden;
}
.section-bg {
	background: #f5f8fd;
}
.section-title {
	padding-bottom: 30px;
	h2 {
		font-size: 32px;
		font-weight: bold;
		margin-bottom: 20px;
		padding-bottom: 20px;
		position: relative;
		color: #173b6c;
		&::after {
			content: "";
			position: absolute;
			display: block;
			width: 50px;
			height: 3px;
			background: #f1592a;
			bottom: 0;
			left: 0;
		}
	}
	p {
		margin-bottom: 0;
	}
}
.about {
	.content {
		h3 {
			font-weight: 700;
			font-size: 26px;
			color: #173b6c;
		}
		ul {
			list-style: none;
			padding: 0;
			li {
				margin-bottom: 20px;
				display: flex;
				align-items: center;
			}
			strong {
				margin-right: 10px;
			}
			i {
				font-size: 16px;
				margin-right: 5px;
				color: #f1592a;
				line-height: 0;
			}
		}
		p {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}
.facts {
	padding-bottom: 30px;
	.count-box {
		padding: 30px;
		width: 100%;
		i {
			display: block;
			font-size: 44px;
			color: #f1592a;
			float: left;
			line-height: 0;
		}
		span {
			font-size: 48px;
			line-height: 40px;
			display: block;
			font-weight: 700;
			color: #050d18;
			margin-left: 60px;
		}
		p {
			padding: 15px 0 0 0;
			margin: 0 0 0 60px;
			font-family: "Raleway", sans-serif;
			font-size: 14px;
			color: #122f57;
		}
		a {
			font-weight: 600;
			display: block;
			margin-top: 20px;
			color: #122f57;
			font-size: 15px;
			font-family: "Poppins", sans-serif;
			transition: ease-in-out 0.3s;
			&:hover {
				color: #1f5297;
			}
		}
	}
}
.skills {
	.progress {
		height: 60px;
		display: block;
		background: none;
		border-radius: 0;
		.skill {
			padding: 0;
			margin: 0 0 6px 0;
			text-transform: uppercase;
			display: block;
			font-weight: 600;
			font-family: "Poppins", sans-serif;
			color: #050d18;
			.val {
				float: right;
				font-style: normal;
			}
		}
	}
	.progress-bar-wrap {
		background: #dce8f8;
		height: 10px;
	}
	.progress-bar {
		width: 1px;
		height: 10px;
		transition: 0.9s;
		background-color: #f1592a;
	}
}
.resume {
	.resume-title {
		font-size: 26px;
		font-weight: 700;
		margin-top: 20px;
		margin-bottom: 20px;
		color: #050d18;
	}
	.resume-item {
		padding: 0 0 20px 20px;
		margin-top: -2px;
		border-left: 2px solid #1f5297;
		position: relative;
		h4 {
			line-height: 18px;
			font-size: 18px;
			font-weight: 600;
			text-transform: uppercase;
			font-family: "Poppins", sans-serif;
			color: #050d18;
			margin-bottom: 10px;
		}
		h5 {
			font-size: 16px;
			background: #e4edf9;
			padding: 5px 15px;
			display: inline-block;
			font-weight: 600;
			margin-bottom: 10px;
		}
		ul {
			padding-left: 20px;
			li {
				padding-bottom: 10px;
			}
		}
		&:last-child {
			padding-bottom: 0;
		}
		&::before {
			content: "";
			position: absolute;
			width: 16px;
			height: 16px;
			border-radius: 50px;
			left: -9px;
			top: 0;
			background: #fff;
			border: 2px solid #1f5297;
		}
	}
}
.portfolio {
	.portfolio-item {
		margin-bottom: 30px;
		img {
			width: 100%;
			height: 200px;
			object-fit: cover;
		}
	}
	#portfolio-flters {
		padding: 0;
		margin: 0 auto 35px auto;
		list-style: none;
		text-align: center;
		background: #fff;
		border-radius: 50px;
		padding: 2px 15px;
		li {
			cursor: pointer;
			display: inline-block;
			padding: 10px 15px 8px 15px;
			font-size: 14px;
			font-weight: 600;
			line-height: 1;
			text-transform: uppercase;
			color: #272829;
			margin-bottom: 5px;
			transition: all 0.3s ease-in-out;
			&:hover {
				color: #f1592a;
			}
			&:last-child {
				margin-right: 0;
			}
		}
		li.filter-active {
			color: #f1592a;
		}
	}
	.portfolio-wrap {
		transition: 0.3s;
		position: relative;
		overflow: hidden;
		z-index: 1;
		&::before {
			content: "";
			background: rgba(255, 255, 255, 0.5);
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			transition: all ease-in-out 0.3s;
			z-index: 2;
			opacity: 0;
		}
		.portfolio-links {
			opacity: 1;
			left: 0;
			right: 0;
			bottom: -60px;
			z-index: 3;
			position: absolute;
			transition: all ease-in-out 0.3s;
			display: flex;
			justify-content: center;
			a {
				color: #fff;
				font-size: 28px;
				text-align: center;
				background: rgba(20, 157, 221, 0.75);
				transition: 0.3s;
				width: 50%;
				&:hover {
					background: rgba(20, 157, 221, 0.95);
				}
			}
			a+a {
				border-left: 1px solid #37b3ed;
			}
		}
		&:hover {
			&::before {
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				opacity: 1;
			}
			.portfolio-links {
				opacity: 1;
				bottom: 0;
			}
		}
	}
}
.portfolio-details {
	padding-top: 40px;
	.portfolio-details-slider {
		img {
			width: 100%;
		}
		.swiper-pagination {
			margin-top: 20px;
			position: relative;
			.swiper-pagination-bullet {
				width: 12px;
				height: 12px;
				background-color: #fff;
				opacity: 1;
				border: 1px solid #f1592a;
			}
			.swiper-pagination-bullet-active {
				background-color: #f1592a;
			}
		}
	}
	.portfolio-info {
		padding: 30px;
		box-shadow: 0px 0 30px rgba(5, 13, 24, 0.08);
		h3 {
			font-size: 22px;
			font-weight: 700;
			margin-bottom: 20px;
			padding-bottom: 20px;
			border-bottom: 1px solid #eee;
		}
		ul {
			list-style: none;
			padding: 0;
			font-size: 15px;
			li+li {
				margin-top: 10px;
			}
		}
	}
	.portfolio-description {
		padding-top: 30px;
		h2 {
			font-size: 26px;
			font-weight: 700;
			margin-bottom: 20px;
		}
		p {
			padding: 0;
		}
	}
}
.services {
	.icon-box {
		margin-bottom: 20px;
		&:hover {
			.icon {
				background: #fff;
				i {
					color: #f1592a;
				}
			}
		}
	}
	.icon {
		float: left;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 54px;
		height: 54px;
		background: #f1592a;
		border-radius: 50%;
		transition: 0.5s;
		border: 1px solid #f1592a;
		i {
			color: #fff;
			font-size: 24px;
			line-height: 0;
		}
	}
	.title {
		margin-left: 80px;
		font-weight: 700;
		margin-bottom: 15px;
		font-size: 18px;
		a {
			color: #343a40;
			&:hover {
				color: #f1592a;
			}
		}
	}
	.description {
		margin-left: 80px;
		line-height: 24px;
		font-size: 14px;
	}
}
.testimonials {
	.testimonials-carousel {
		overflow: hidden;
	}
	.testimonials-slider {
		overflow: hidden;
	}
	.testimonial-item {
		box-sizing: content-box;
		text-align: center;
		min-height: 320px;
		.testimonial-img {
			width: 90px;
			border-radius: 50%;
			margin: 0 auto;
		}
		h3 {
			font-size: 18px;
			font-weight: bold;
			margin: 10px 0 5px 0;
			color: #111;
		}
		h4 {
			font-size: 14px;
			color: #999;
			margin: 0;
		}
		.quote-icon-left {
			color: #c3e8fa;
			font-size: 26px;
			display: inline-block;
			left: -5px;
			position: relative;
		}
		.quote-icon-right {
			color: #c3e8fa;
			font-size: 26px;
			display: inline-block;
			right: -5px;
			position: relative;
			top: 10px;
		}
		p {
			font-style: italic;
			margin: 0 15px 15px 15px;
			padding: 20px;
			background: #fff;
			position: relative;
			margin-bottom: 35px;
			border-radius: 6px;
			box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
			&::after {
				content: "";
				width: 0;
				height: 0;
				border-top: 20px solid #fff;
				border-right: 20px solid transparent;
				border-left: 20px solid transparent;
				position: absolute;
				bottom: -20px;
				left: calc(50% - 20px);
			}
		}
	}
	.swiper-pagination {
		margin-top: 20px;
		position: relative;
		.swiper-pagination-bullet {
			width: 12px;
			height: 12px;
			background-color: #fff;
			opacity: 1;
			border: 1px solid #f1592a;
		}
		.swiper-pagination-bullet-active {
			background-color: #f1592a;
		}
	}
}
.contact {
	padding-bottom: 130px;
	.info {
		padding: 30px;
		background: #fff;
		width: 100%;
		box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
		i {
			font-size: 20px;
			color: #f1592a;
			float: left;
			width: 44px;
			height: 44px;
			background: #dff3fc;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 50px;
			transition: all 0.3s ease-in-out;
		}
		h4 {
			padding: 0 0 0 60px;
			font-size: 22px;
			font-weight: 600;
			margin-bottom: 5px;
			color: #050d18;
		}
		p {
			padding: 0 0 10px 60px;
			margin-bottom: 20px;
			font-size: 14px;
			color: #173b6c;
		}
		.email {
			p {
				padding-top: 5px;
			}
			&:hover {
				i {
					background: #f1592a;
					color: #fff;
				}
			}
		}
		.social-links {
			padding-left: 60px;
			a {
				font-size: 18px;
				display: inline-block;
				background: #333;
				color: #fff;
				line-height: 1;
				padding: 8px 0;
				border-radius: 50%;
				text-align: center;
				width: 36px;
				height: 36px;
				transition: 0.3s;
				margin-right: 10px;
				&:hover {
					background: #f1592a;
					color: #fff;
				}
			}
		}
		.address {
			&:hover {
				i {
					background: #f1592a;
					color: #fff;
				}
			}
		}
		.phone {
			&:hover {
				i {
					background: #f1592a;
					color: #fff;
				}
			}
		}
	}
	.php-email-form {
		width: 100%;
		padding: 30px;
		background: #fff;
		box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
		.form-group {
			padding-bottom: 8px;
			margin-bottom: 15px;
		}
		.validate {
			display: none;
			color: red;
			margin: 0 0 15px 0;
			font-weight: 400;
			font-size: 13px;
		}
		.error-message {
			display: none;
			color: #fff;
			background: #ed3c0d;
			text-align: left;
			padding: 15px;
			font-weight: 600;
			br+br {
				margin-top: 25px;
			}
		}
		.sent-message {
			display: none;
			color: #fff;
			background: #18d26e;
			text-align: center;
			padding: 15px;
			font-weight: 600;
		}
		.loading {
			display: none;
			background: #fff;
			text-align: center;
			padding: 15px;
			&:before {
				content: "";
				display: inline-block;
				border-radius: 50%;
				width: 24px;
				height: 24px;
				margin: 0 10px -6px 0;
				border: 3px solid #18d26e;
				border-top-color: #eee;
				@include keyframes(fade){
					0% {
						transform: rotate(0deg);
					}
					100% {
						transform: rotate(360deg);
					}
				  }
				@include animate(fade, 1s, linear, infinite);
			}
		}
		label {
			padding-bottom: 8px;
		}
		input {
			border-radius: 0;
			box-shadow: none;
			font-size: 14px;
			height: 44px;
		}
		textarea {
			border-radius: 0;
			box-shadow: none;
			font-size: 14px;
			padding: 10px 15px;
		}
		button[type=submit] {
			background: #f1592a;
			border: 0;
			padding: 10px 24px;
			color: #fff;
			transition: 0.4s;
			border-radius: 4px;
			&:hover {
				background: #37b3ed;
			}
		}
	}
}
.breadcrumbs {
	padding: 20px 0;
	background: #f9f9f9;
	h2 {
		font-size: 26px;
		font-weight: 300;
	}
	ol {
		display: flex;
		flex-wrap: wrap;
		list-style: none;
		padding: 0;
		margin: 0;
		font-size: 15px;
		li+li {
			padding-left: 10px;
			&::before {
				display: inline-block;
				padding-right: 10px;
				color: #0e2442;
				content: "/";
			}
		}
	}
}
#footer {
	padding: 15px;
	color: #f4f6fd;
	font-size: 14px;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 300px;
	z-index: 9999;
	background: #040b14;
	.copyright {
		text-align: center;
	}
	.credits {
		padding-top: 5px;
		text-align: center;
		font-size: 13px;
		color: #eaebf0;
	}
}
@media (max-width: 1199px) {
	#header {
		left: -300px;
	}
	#main {
		margin-left: 0;
	}
	#footer {
		position: static;
		width: auto;
		padding-right: 20px 15px;
	}
}
@media (min-width: 1024px) {
	#hero {
		background-attachment: fixed;
	}
}
@media (max-width: 768px) {
	#hero {
		h1 {
			font-size: 28px;
			line-height: 36px;
		}
		h2 {
			font-size: 18px;
			line-height: 24px;
			margin-bottom: 30px;
		}
	}
	.breadcrumbs {
		.d-flex {
			display: block !important;
		}
		ol {
			display: block;
			li {
				display: inline-block;
			}
		}
	}
}
